*{
    box-sizing: border-box;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    

    &::before {
        background-color: #fff;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 70px;
        height: 70px;
        content: "";
        border-radius: 50%;
        transition: all .4s ease;
        z-index: -1;
    }

    .menuButton {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 43px;
        right: 47px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        z-index: 40;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            border: 2px solid black;
            border-radius: 50%;
        }
    }

    .menuItem {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100vh;

        .listImage {
            position: relative;
            .item {
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                top: 0;
                background-size: cover;
                background-position: center;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }

        .listMenu {
            padding-left: 50px;
            p {
                margin-top: 30px;
                margin-bottom: 100px;
            }

            ul {
                padding-left: 30px;
                li {
                    list-style: none;
                    font-size: 40px;
                    margin-bottom: 40px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.menu-open {
    nav {
        &::before {
            transform: scale(50);
        }
    }
}